
* Bluehill will use these global configuration values:
  - Flexbuilder workspace directory is:  /Users/cjoakim/projects/github/cjoakim/flash
  - Verbose output is:                   true

  - Command superclass template is:      templates/bluehill_command_superclass.erb
  - Command subclass template is:        templates/bluehill_command.erb
  - Events class template is:            templates/bluehill_events.erb
  - Event class template is:             templates/bluehill_event.erb
  - FrontController class template is:   templates/bluehill_controller.erb
  - Cairngorm Event class template is:   templates/bluehill_cairngorm_event.erb
  - Services.mxml template is:           templates/bluehill_services_mxml.erb
  - ModelLocator interface template is:  templates/bluehill_model_locator.erb
  - ValueObject class template is:       templates/bluehill_value_object.erb

* Bluehill will be used for these projects in your Flexbuilder workspace:
  - Project: Imagine

* Project Imagine will use these configuration values:
  - Compiler:                            mxmlc
  - Base ActionScript package:           org.joakim.imagine

  - HTTPService default base url is:     http://localhost:4567

  - HTTPService: images_list_service     POST /files_list   e4x
  - HTTPService: delete_service          POST /delete_file  e4x
  - HTTPService rename_service is defined in WADL file wadl/
        
  - Event triggers Command: select_image
  - Event triggers Command: images_list  using HTTPService images_list_service
  - Event triggers Command: delete_image using HTTPService delete_service
  - Event triggers Command: rename_image using HTTPService rename_service

  - Model ImageList 
  - Model CurrentImage

  - ValueObject FileStruct modeled after table: products
