awscli
boto
coverage
csvkit
devpi-builder
flake8
ftfy
inflection
invoke
ipython
luigi
nose
numpy
PhotoHash
Pillow
pip
pip-tools
plan
psycopg2
pysftp
python-daemon
requests
scipy
sh
SQLAlchemy
tornado
tox