
      <div class="container-fluid">
        <table width='100%'>
          <tr>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "+ New Contact", new_contact_path, class: 'btn btn-primary btn-block active', role: 'button' %>
            </td>
          </tr>
        </table>
      </div>
